pkgbase = vscode-oss-git
	pkgdesc = Visual Studio Code for Linux
	pkgver = 0.10.1
	pkgrel = 2
	url = https://code.visualstudio.com/
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = npm
	makedepends = gulp
	depends = gtk2
	depends = gconf
	conflicts = vscode-bin
	conflicts = vscode-oss
	source = git+https://github.com/Microsoft/vscode.git
	source = vscode.desktop
	source = welcome.md
	source = vs_diff.patch
	sha1sums = SKIP
	sha1sums = 3187aeb37731109d25f3cd76752c0633b4e2ed02
	sha1sums = bc89c962078b0ed78987d4d5cd35e6c6fbf2dc3b
	sha1sums = 0c137590b73e017c6e156025fbb43fd21cc6db70

pkgname = vscode-oss-git

